@import "../node_modules/susy/sass/susy";

$primary: #148ec0;
$primary-hover: #009fd3;
$secondary: #4c356d;
$tertiary: #03132D;

$container: 70em;

@font-face {
	font-family: 'futura_md_btbold';
	src: url('../fonts/futurab_6-webfont.woff2') format('woff2'), url('../fonts/futurab_6-webfont.woff') format('woff'), url('../fonts/futurab_6.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura_lt_btlight';
	src: url('../fonts/futura_lt_bt_6-webfont.woff2') format('woff2'), url('../fonts/futura_lt_bt_6-webfont.woff') format('woff'), url('../fonts/Futura_Lt_BT_6.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: 'futura_lt_btlight';
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #03132D;
}

footer {
    background: $tertiary;
    color: #fff;
    padding: 1em;
}

.container {
    @include container($container);
}

.u-width-100 {
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1em 0;
    box-shadow: 3px 2px 18px #000;

    &.nav--primary {
        background: #fff;
    }

    &.nav--secondary {
        background: $secondary;

        .nav__logo svg {
            fill: #fff;
        }
    }
    .button {
        margin-top: .5em;
    }
    .nav__logo {
        width: 51%;
        padding: 0.7em 0;
        display: block;
    }
}
.testimonial {
    &__content {
        height: 260px;
    }
    &__from {
        text-align: right;
        font-weight: bold;
        font-size: 1.1em;
        margin-top: 0;
    }
}
header {
    display: inline-block;
    width: 100%;
    margin-top: 7em;
    position: relative;

    h1 {
        margin: 0;
        font-family: 'futura_md_btbold';
        width: 11em;
        font-size: 4em;
        color: $secondary;
        padding-top: .8em;
        padding-bottom: .8em;
        line-height: 1.2em;
        position: absolute;
        top: 1em;

        span.capital-at-risk {
            font-size: .3em;
            display: block;
            line-height: 2em;
        }
    }
    .header__content {
        background: rgba(0, 0, 0, 0.6);
        padding: 1em;
        width: 60%;
        margin-top: 2em;

        p {
            &:not(:last-child) {
                font-size: 1.5em;
            }
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.grid {
    @extend .container;

    .grid__item {
        @include span(1 of 2);

        &:nth-child(2n) {
            @include span(1 of 2 last);
        }
    }
}

.grid--sm4 {
    @extend .container;

    .grid__item {
        @include span(1 of 4);

        &:nth-child(4n) {
            @include span(1 of 4 last);
        }
    }
}

.grid--sm3 {
    @extend .container;

    .grid__item {
        @include span(1 of 3);
        position: relative;

        &:nth-child(3n) {
            @include span(1 of 3 last);
        }
    }
}

.column--sm3 {
    @include span(3 of 12);

    &:last-child {
        @include span(3 of 12 last);
    }
}

.column--sm6 {
    @include span(6 of 12);
}

.card {
    text-align: center;
    position: relative;
    padding: 2em;
    margin-top: 5em;
    border: 3px solid;

    .card__image {
        text-align: center;
        position: absolute;
        top: -5em;
        left: 0;
        width: 100%;
    }
    h3 {
        padding-top: 2em;
        text-transform: uppercase;
    }
}

.contact {
    p {
        color: #fff;
        font-size: 1.6em;
        margin: 0;

        &:first-child {
            margin: .2em 0;
        }
    }

    a {
        color: #fff;

        &:hover {
            color: $primary;
        }
    }
}

.card--bordered {
    padding: 2em;
    margin-top: 1em;
    border-bottom: 1em solid #CECECE;
    border-radius: 8%;
}

.card--deal {
    @extend .card--bordered;
    padding: 1.5em;
    display: block;

    h3, .card__close-date {
        text-align: center;
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .card__close-date {
        display: block;
        padding-bottom: 1em;
        font-weight: 800;
    }
    .card__image {
        width: 100%;
        height: 250px;
    }
    &>span {
        display: block;
        padding-top: 1em;
    }
    button {
        background: none;
        text-transform: lowercase;
        font-size: 1em;
        border: 2px solid;
        font-weight: 700;
        color: $secondary;

        &:hover {
            background: $secondary;
            color: #fff;
        }
    }

}

.card--testimonial {
    @extend .card--bordered;
    p {
        &:before {
            content: "‘‘";
            font-size: 4em;
            font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
            height: 40px;
            position: absolute;
            top: -0.5em;
            font-weight: 700;
            color: #CECECE;
        }
        padding: 1em 0;
        margin-top: 0;
        position: relative;
        font-size: 1em;
    }
    span {
        display: block;
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
        margin-top: 1em;
    }
}

form {
    position: absolute;
    width: 60%;

    input:not([type=checkbox]) {
        display: block;
        width: 100%;
        font-size: 1.3em;
        padding: .5em;
        margin-bottom: .8em;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
    button[type=submit] {
        width: 100%;
        margin-bottom: 2em;
        cursor: pointer;
    }
}

.button, button {
    padding: 1em;
    border-radius: .5em;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    display: inline-block;
}

.button--primary {
    color: #fff;
    background: $primary;
    font-weight: 800;
    padding: 1em 2em;

    &:hover {
        background: $primary-hover;
    }
}

.button--attract {
    color: #fff;
    background: #31a947;
    border: 0;
    padding: .5em 2em;
    border-radius: 10px;

    &:hover {
        background: #288238;
    }
}

.button--plain {
    color: #fff;

    &:hover {
        color: $primary;
    }
}

.read-more-reviews {
    display: inline-block;
    margin: 0;
    position: relative;
    top: -2em;
    text-transform: uppercase;
    font-weight: 800;
    color: #000b25;
    font-size: 1.1em;
    padding-bottom: 2em;
}

section {
    @extend .container;
    padding: 1em;
    position: relative;

    h2 {
        @extend .u-font-bold;
        color: $secondary;
        font-size: 2em;
        text-align: left;
    }
}

.section--tree {
    .section__tree {
        width: 573px;
        float: right;
        position: relative;
        top: 2.55em;
    }
    section {
        padding-bottom: 0;
        &, h2 {
            color: #fff;
        }
        h4 {
            font-size: 1.1em;
        }
    }
}

.section--stripes {
    .section__stripe {
        float: right;
        width: 429px;
        margin-right: 4.7em;
        margin-top: 0em;
    }
    section {
        padding-bottom: 0;
    }
    &:last-child {
        .section__stripe {
            width: 440px;
            margin-right: 4.4em;
        }
    }
}


.u-list-default li {
    &:before {
        content: "";
        background: url(../images/HowItWorks_Flow.png);
        float: left;
        background-size: cover;
        position: relative;
        top: -0.5em;
        background-position-y: -8px;
        height: 123px;
        width: 100px;
        margin-right: .5em;
    }
    &:nth-child(2) {
        &:before {
            background-position-y: -131px;
            height: 147px;
        }
    }
    &:nth-child(3) {
        &:before {
            background-position-y: -280px;
            height: 131px;
        }
    }
    &:nth-child(4) {
        &:before {
            background-position-y: -414px;
            height: 135px;
        }
    }
    &:nth-child(5) {
        &:before {
            background-position-y: -551px;
            height: 98px;
        }
    }
    &>* {
        margin: 0;
    }
    clear: left;
}

.u-fs\+ { font-size: 1.1em; }

.u-mt\+\+\+\+ { margin-top: 4em; }

.u-list-default {
    margin: 0;
    padding: 0;
    list-style: none;
}

.u-border-radius {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
}

.u-border-thick {
    border: 3px solid;
}

.u-border-primary { border-color: $primary; }
.u-border-secondary { border-color: $secondary; }
.u-bg-primary { background: $primary; }
.u-bg-secondary { background: $secondary; }

.u-font-light { font-family: 'futura_lt_btlight'; }
.u-font-bold { font-family: 'futura_md_btbold'; text-transform: uppercase; }

.u-text-primary { color: $primary!important; }
.u-text-secondary { color: $secondary; }
.u-text-white { color: #fff; }
.u-text-black { color: #000; }

.u-text-normal { text-transform: none; }

.u-align-left { text-align: left; }
.u-align-center { text-align: center; }
.u-align-right { text-align: right; }

.u-position-relative { position: relative; }

.u-p\+\+ { padding: 2em; }

.u-pv {
    padding-top: .5em;
    padding-bottom: .5em;
}

.u-pv\+ {
    padding-top: 1em;
    padding-bottom: 1em;
}

.u-pv\+\+ {
    padding-top: 2em;
    padding-bottom: 2em;
}

.landing-checkboxes {
    @extend .u-border-thick;
    @extend .u-border-secondary;

    color: $secondary;
    font-weight: 800;

    padding: 1.1em .5em;

    .grid__item {
        font-size: 1.1em;
        &:before {
            content: url(../images/check-box.png);
            width: 10%;
            display: inline-block;
            vertical-align: middle;
        }
        span {
            display: inline-block;
            width: 77%;
            padding-left: 1em;
            vertical-align: middle;
        }
    }
}

.featured-sprite {
    background: url(../images/as-featured-web-banner3.png) no-repeat;
    height: 75px;
    display: inline-block;
}

.social-sprite {
    background: url(../images/social-icons.png) no-repeat;
    height: 38px;
    display: inline-block;
}

.sprite--linkedin {
    @extend .social-sprite;
    width: 38px;
}

.sprite--twitter {
    @extend .social-sprite;
    width: 32px;
    background-position-x: -39px;
}

.sprite--facebook {
    @extend .social-sprite;
    width: 32px;
    background-position-x: -69px;
}

.sprite--youtube {
    @extend .social-sprite;
    width: 32px;
    background-position-x: -103px;
}

.sprite--the-times {
    @extend .featured-sprite;
    width: 403px;
}

.sprite--lbc {
    @extend .featured-sprite;
    width: 135px;
    background-position-x: -403px;
}

.sprite--nacfb {
    @extend .featured-sprite;
    width: 135px;
    background-position-x: -533px;
}

.sprite--mfawards {
    @extend .featured-sprite;
    width: 104px;
    background-position-x: -670px;
}

.sprite--kentmessenger {
    @extend .featured-sprite;
    width: 245px;
    background-position-x: -777px;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

.footer-bottom {
    position: relative;
    
    &__social {
        position: absolute;
        right: 0;
        top: -0.6em;
    }
}

.percentage {
  position: relative;

  &__bar {
    background-color: #eee;
  }

  &__item {
    position: absolute;
    top: 40px;
  }

  span {
    display: block;
    height: 7px;
  }

  abbr {
    display: inline-block;
    padding: 10px 0px;
  }
}

h2.small-border:after {
    content: " ";
    background: $secondary;
    height: 5px;
    display: block;
    width: 10%;
    margin: .5em auto 0 auto;
}

.st1{fill:none;}
.st2{fill:none;stroke:#fff;stroke-width:0.5;stroke-miterlimit:10;}

.arrow {
    position: absolute;
    right: -4.4em;
    top: 2em;
    fill: #4c356d;
}

.custom-bottom-line {
    margin-top: 3em;
    font-size: 1em;
}

@media (min-width: 770px) and (max-width: $container) {
    nav .nav__logo {
        width: 54%!important;
    }
}

@media (max-width: $container) {
    section {
        h2 {
            font-size: 1.3em;
        }
        ul>li p {
            font-size: 0.8em!important;
        }
    }

    .u-hidden-xs { display: none; }

    .contact {
        padding: .5em;

        p {
            font-size: .86em;
        }
    }

    .section--tree {
        .section__tree {
            display: none;
        }
        section {
            padding-bottom: 1em;

            h4 {
                font-size: 1.2em;
            }
            p {
                font-size: .9em;
            }
        }
        .custom-bottom-line {
            margin-top: 2.5em;
            font-size: 1em;
        }
    }

    .section--stripes {
        .section__stripe {
            display: none;
        }
        section {
            padding-bottom: 1em;
            p {
                width: 100%!important;
                font-size: 1em!important;
            }
        }
    }

    form {
        position: initial;
        width: 100%;

        .form__checkbox {
            padding-bottom: 1em;
        }

        input:not([type=checkbox]) {
            font-size: 1.1em;
        }
    }
    nav {
        img {
            width: 100%;
        }
        .button {
            padding: .65em;
            font-size: .7em;
            margin-right: .5em;
        }
        .nav__logo {
            width: 100%;
            padding-left: 1em;
        }
    }
    header {
        background-size: cover;
        background-position-x: 62%;
        margin-top: 6em;

        h1, p:not(:last-child) {
            padding-right: 0;
        }
        h1 {
            font-size: 2.2em;
            position: initial;
            width: auto;
            padding-bottom: 0;
            margin: 0 .4em;
        }
        .header__content {
            padding: 0;
            padding-top: 1em;
            padding-bottom: 1em;
            width: 100%;

            p:not(:last-child) {
                font-size: 1.1em;
                padding-left: 11px;
                padding-right: 11px;
            }

            p:last-child {
                font-size: 1em;
                padding-left: 11px;
                padding-right: 11px;
            }

            .button {
                padding: 1em;
                font-size: 1em;
            }
        }
    }
    section .grid {
        .grid__item {
            width: 100%;

            &:last-child {
                width: 100%;
            }
        }
    }
    .grid--sm4 {
        .grid__item {
            width: 100%;

            &:last-child {
                width: 100%;
            }
        }
    }
    .grid--sm3 {
        .grid__item {
            width: 100%;

            &:last-child {
                width: 100%;
            }
        }
    }
    .column--sm3 {
        width: 100%;
        text-align: center;

        &:last-child {
            width: 100%;
        }
    }
    .column--sm6 { width: 100%; }

    .footer-bottom__social {
        top: 1.5em;
    }
    .card--deal .card__image {
        height: 100%;
    }
    .card--testimonial p {
        padding-bottom: 0!important;
    }
    .arrow {
        display: none;
    }
    .testimonial__content {
        height: initial;

        img {
            width: 50px;
        }
        p {
            font-size: 1em!important;
        }
    }
    .read-more-reviews {
        top: 0;
    }
}

@media(min-width: 630px) and (max-width: $container) {
    .header__image {
        margin-left: -1em;
        height: 308px;
    }
}

@media(max-width: 630px) {
    .header__image {
        margin-left: -27em;
        height: 288px;
    }
}